
.add-customer-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.add-customer-form{
    border:1px solid white !important;;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(37, 36, 36);
    color: white;
}

.input-wrapper{
    width: 100%;
    display: flex;
}

.form-sides{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form-sides>input{
    width: 80%;
    height: 2rem;
    border: 1px solid white !important;;
    background-color: rgb(37, 36, 36);
    color: white;
    font-size: 16px;
    padding-inline-start: 10px !important;
}

.form-sides>input::placeholder{
    color: white;
    font-size: 16px !important;
}

.btns{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.save-btn{
    width: 30%;
    padding:0.5rem;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
}